/* Colors */

$color-1: #333745;
$color-2: #e63462;
$color-3: #fe5f55;
$color-4: #c7efcf;
$color-5: #eef5db;

.bg {
    &-1 { background-color: $color-1; }
    &-2 { background-color: $color-2; }
    &-3 { background-color: $color-3; }
    &-4 { background-color: $color-4; }
    &-5 { background-color: $color-5; }
}