// Variables
@import 'variables';

// Margin
@import 'margin';

// Padding
@import 'padding';

// Size
@import 'size';

// Typography
@import 'typography';

// Position
@import 'position';

// Flex
@import 'flex';

// Helpers
@import 'helpers';


/*
 * Unsorted
 *
 * Put working rules here before you cateorize and sort them 'thangs.
 * This comment doesn't need to be this long but eye like the
 * way longer comments look when you do this block type of comment. 
 * - Karl
 *
**/ 

.bg {
	&-w { background-color: #fff; }
	&-b { background-color: #000; }
	&-g { background-color: #ccc; }
}
